<section class="center" >
  <h1>Shopping List</h1>
  <div >
    <p>Amount of food items to buy: <%= @foods.count %> </p>
    <p> Total value of food needed: $ <%= @total_price %> </p>
  </div>

  <table >
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <% quantity=RecipeFood.joins(:food).where(food_id: food.id).sum( 'quantity') %>
        <td><%= food.name%></td>
        <td><%= quantity %></td>
        <td>$ <%= food.price * quantity %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</section>